# Finanças com Pandas

In [11]:
import pandas as pd

In [6]:
dados_pl = pd.read_excel(r'C:\Users\Carol\Documents\Johnny\Python For finance\dados_pl.xlsx')

display(dados_pl)

    codigo      empresa  preco  quant_acoes  lucro_liquido
0    AALR3       ALLIAR  14.97    118292816     -128836000
1    ABCB4   ABC BRASIL  15.87    226090118      763129000
2    ABEV3    AMBEV S/A  15.42  15741455000    13554865000
3    AERI3        AERIS   6.55    766213456      -35173000
4    AESB3   AES BRASIL  11.07    399106517      102568000
..     ...          ...    ...          ...            ...
398  WHRL4    WHIRLPOOL   8.00   1502786000      543169000
399  WIZS3     WIZ S.A.   7.96    159907282      218528000
400  WLMM4  WLM IND COM  39.84     36414670      113400000
401  YDUQ3   YDUQS PART  20.56    309089000      -45505000
402  ZAMP3    ZAMP S.A.   5.98    275355447      -74151000

[403 rows x 5 columns]

# Descobrindo lucro por ação
 * Para descobrir o lucro por ação é necessario fazer o calculo do lucro liquido dividido pela quantidade de ações

In [7]:
dados_pl['lucro_por_acao'] = dados_pl['lucro_liquido']/dados_pl['quant_acoes']
dados_pl

    codigo      empresa  preco  quant_acoes  lucro_liquido  lucro_por_acao
0    AALR3       ALLIAR  14.97    118292816     -128836000       -1.089128
1    ABCB4   ABC BRASIL  15.87    226090118      763129000        3.375331
2    ABEV3    AMBEV S/A  15.42  15741455000    13554865000        0.861094
3    AERI3        AERIS   6.55    766213456      -35173000       -0.045905
4    AESB3   AES BRASIL  11.07    399106517      102568000        0.256994
..     ...          ...    ...          ...            ...             ...
398  WHRL4    WHIRLPOOL   8.00   1502786000      543169000        0.361441
399  WIZS3     WIZ S.A.   7.96    159907282      218528000        1.366592
400  WLMM4  WLM IND COM  39.84     36414670      113400000        3.114130
401  YDUQ3   YDUQS PART  20.56    309089000      -45505000       -0.147223
402  ZAMP3    ZAMP S.A.   5.98    275355447      -74151000       -0.269292

[403 rows x 6 columns]

# Descobrindo Preço sobre o Lucro
 * Para descobrir Preço sobre o lucro precisa calcular o preço dividido pelo lucro

In [8]:
dados_pl['preco_lucro'] = dados_pl['preco']/dados_pl['lucro_por_acao']
dados_pl

,codigo,empresa,preco,quant_acoes,lucro_liquido,lucro_por_acao,preco_lucro
0,AALR3,ALLIAR,14.97,118292816,-128836000,-1.089128,-13.744943
1,ABCB4,ABC BRASIL,15.87,226090118,763129000,3.375331,4.701761
2,ABEV3,AMBEV S/A,15.42,15741455000,13554865000,0.861094,17.907462
3,AERI3,AERIS,6.55,766213456,-35173000,-0.045905,-142.686098
4,AESB3,AES BRASIL,11.07,399106517,102568000,0.256994,43.074927
...,...,...,...,...,...,...,...
398,WHRL4,WHIRLPOOL,8.00,1502786000,543169000,0.361441,22.133605
399,WIZS3,WIZ S.A.,7.96,159907282,218528000,1.366592,5.824709
400,WLMM4,WLM IND COM,39.84,36414670,113400000,3.114130,12.793302
401,YDUQ3,YDUQS PART,20.56,309089000,-45505000,-0.147223,-139.652123
402,ZAMP3,ZAMP S.A.,5.98,275355447,-74151000,-0.269292,-22.206384

# Empresas que tiveram Preço sobre o Lucro positivo

In [13]:
empresas_lucrativas = dados_pl[dados_pl['preco_lucro'] > 0 ]
empresas_lucrativas

,codigo,empresa,preco,quant_acoes,lucro_liquido,lucro_por_acao,preco_lucro
1,ABCB4,ABC BRASIL,15.87,226090118,763129000,3.375331,4.701761
2,ABEV3,AMBEV S/A,15.42,15741455000,13554865000,0.861094,17.907462
4,AESB3,AES BRASIL,11.07,399106517,102568000,0.256994,43.074927
5,AFLT3,AFLUENTE T,8.87,63085000,119734000,1.897979,4.673392
6,AGRO3,BRASILAGRO,28.79,102377008,454231000,4.436846,6.488844
...,...,...,...,...,...,...,...
395,WEGE3,WEG,32.98,4197317998,3947732000,0.940537,35.065082
397,WHRL3,WHIRLPOOL,6.71,1502786000,543169000,0.361441,18.564561
398,WHRL4,WHIRLPOOL,8.00,1502786000,543169000,0.361441,22.133605
399,WIZS3,WIZ S.A.,7.96,159907282,218528000,1.366592,5.824709
400,WLMM4,WLM IND COM,39.84,36414670,113400000,3.114130,12.793302